.container--glassmorfism {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  z-index: 1000;
}

.share__btns--block {
  border-radius: 15px;
  padding: 50px;
  z-index: 1000;
  width: 500px;
  background: #c5c5cf;
}
.exit--btn{
  opacity: 1;
  cursor: pointer;
  position: relative;
  z-index: 1000;
  top: -35px;
  right: -405px;
  transition: 0.3s ease;
}
.exit--btn:hover{
  opacity: .5;
}