.header{
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: 'header';
}
.acc__btn-link{
    text-decoration: none;
    color: #252525;
}