/* .App{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'header header'
    'nav home'
    ;
}
.home_page{
    grid-area: 'home';
} */

i {
  font-size: 22px;
}
